<a href="https://colab.research.google.com/github/Junseoo/class2022Spring/blob/main/20220328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 보행자 무단횡단사고 다발지역정보 조회

In [ ]:
!pip install gradio
import gradio as gr
import requests
import pandas as pd

In [2]:
URL = ('http://apis.data.go.kr/B552061/jaywalking/getRestJaywalking'
       '?ServiceKey=7J%2B62liMyIJjNA4nuO3QvMObUeQGKHMIk867r9R5fesD91XEjC%2BRl%2BKTIVE7sLxvU6qqWnb3e6n97QomKL%2BFPA%3D%3D'
       '&searchYearCd=2017'
       '&siDo=11'
       '&guGun=680'
       '&type=json'
       '&numOfRows=10'
       '&pageNo=1')
response = requests.get(URL)
response

In [ ]:
response.text

#### http://jsonviewer.stack.hu/ (copy json here to view json)

In [ ]:
r = response.json()
r

In [5]:
items = r['items']['item']

In [25]:
items = r['items']['item']

sido_sgg_nmt = [item['sido_sgg_nm'] for item in items]
spot_nm = [item['spot_nm'] for item in items]
occrrnc_cnt = [item['occrrnc_cnt'] for item in items]
caslt_cnt = [item['caslt_cnt'] for item in items]
dth_dnv_cnt = [item['dth_dnv_cnt'] for item in items]

sido_sgg_nmt = pd.Series(sido_sgg_nmt)
spot_nm = pd.Series(spot_nm)
occrrnc_cnt = pd.Series(occrrnc_cnt) 
caslt_cnt = pd.Series(caslt_cnt)   
dth_dnv_cnt = pd.Series(dth_dnv_cnt)

df = pd.DataFrame({'지역명': sido_sgg_nmt, '지점명': spot_nm, '발생건수': occrrnc_cnt, '사상자수': caslt_cnt, '사망자수': dth_dnv_cnt})

In [26]:
df

        지역명                           지점명  발생건수  사상자수  사망자수
0  서울 서울강남1        서울특별시 강남구 논현동(신논현역 부근)    10    11     1
1  서울 서울강남2    서울특별시 강남구 역삼동(현대해상강남타워 부근)     7     9     1
2  서울 서울강남3       서울특별시 강남구 논현동(사진박물관 부근)     5     6     0
3  서울 서울수서1  서울특별시 강남구 대치동(은마아파트입구교차로 부근)     4     4     0
4  서울 서울수서2      서울특별시 강남구 대치동(한나라한의원 부근)     4     4     0

In [27]:
def test(guGun):
  URL = ('http://apis.data.go.kr/B552061/jaywalking/getRestJaywalking'
         '?ServiceKey=7J%2B62liMyIJjNA4nuO3QvMObUeQGKHMIk867r9R5fesD91XEjC%2BRl%2BKTIVE7sLxvU6qqWnb3e6n97QomKL%2BFPA%3D%3D'
         '&searchYearCd=2017'
         '&siDo=11'
         '&guGun='+guGun+
         '&type=json'
         '&numOfRows=10'
         '&pageNo=1')
  
  response = requests.get(URL)
  r = response.json()
  items = r['items']['item']

  sido_sgg_nmt = [item['sido_sgg_nm'] for item in items]
  spot_nm = [item['spot_nm'] for item in items]
  occrrnc_cnt = [item['occrrnc_cnt'] for item in items]
  caslt_cnt = [item['caslt_cnt'] for item in items]
  dth_dnv_cnt = [item['dth_dnv_cnt'] for item in items]

  sido_sgg_nmt = pd.Series(sido_sgg_nmt)
  spot_nm = pd.Series(spot_nm)
  occrrnc_cnt = pd.Series(occrrnc_cnt) 
  caslt_cnt = pd.Series(caslt_cnt)   
  dth_dnv_cnt = pd.Series(dth_dnv_cnt)
  

  df = pd.DataFrame({'지역명': sido_sgg_nmt, '지점명': spot_nm, '발생건수': occrrnc_cnt, '사상자수': caslt_cnt, '사망자수': dth_dnv_cnt})
  return df

In [29]:
iface = gr.Interface(test, gr.inputs.Dropdown(['680','740','305','500','620','215','530','545','350','320','230','590','440','410','650','200','290','710','470','560','170','380','110','140','260' ]), outputs=['dataframe'])
iface.launch(debug=True)

Colab notebook detected. This cell will run indefinitely so that you can see errors and logs. To turn off, set debug=False in launch().
Running on public URL: https://56241.gradio.app

This share link expires in 72 hours. For free permanent hosting, check out Spaces (https://huggingface.co/spaces)

Keyboard interruption in main thread... closing server.

(<fastapi.applications.FastAPI at 0x7fec57ffe050>,
 'http://127.0.0.1:7860/',
 'https://56241.gradio.app')